<h2>Add a new question</h2>
<form>
  <div class="form-group">
    <label for="title">Question</label>
    {{input class="form-control" value=title id="title"}}
  </div>
  <div class="form-group">
    <label for="title">Username</label>
    {{input class="form-control" value=title id="title"}}
  </div>
  <div class="form-group">
    <label for="title">Date</label>
    {{input class="form-control" value=title id="title"}}
  </div>
  <div class="form-group">
    <label for="title">Additional Details</label>
    {{textarea rows=10 class="form-control" value=title id="title"}}
  </div>
  <button class="btn" {{action 'saveQuestion'}}>Add</button>
</form>
